.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c3667;
  height: 65px;
  width: 100vw;
  padding: 0 20px;
}
.header-title {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 1.8px;
}
.header-question {
  height: 32px;
  width: 80px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
}
.header-question a {
  color: #3A3766;
  font-size: 16px;
  text-decoration: none;
  line-height: 32px;
}